/* --------------------------------------
-----   Reset   -----
------------------------------------------*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}
body {
    line-height: 1
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}
nav ul {
    list-style: none
}
blockquote, q {
    quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold
}
del {
    text-decoration: line-through
}
abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}
input, select {
    vertical-align: middle
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
html, body {
    height: 100%;
    overflow-x: hidden;
}
div, header, footer, input, a, li {
    box-sizing: border-box;
}
textarea {
    resize: none;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
input, textarea {
    font-family: 'Lato', sans-serif;
}

.welcomeScreen h1 {
    font-size: 40px;
    font-weight: bold;
}

.welcomeScreen p {
    font-size: 18px;
    font-weight: bold;
}

.has-error {
    border-top: 1px solid #FFD2D2;
}

.column {
    float: left;
    display: inline;
}

.hide {
    display: none !important;
}

.fluid-container {
    width: 100%;
    height: 100%;
}

.noteBrowser {
    width: 250px;
    height: 100%;
    background-color: #F7F7F7;
    position: fixed;
}

.ForeverNoteTitle {
    background-color: #3C3C3C;
    height: 40px;
    color: #D3D3D3;
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
    position: relative;
}

.addIcon {
    background-color: #7FC479;
    color: #7FC479;
    display: inline;
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 40px;
}

.addIcon span {
    background-color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: block;
    margin: 4px auto;
}

.addIcon span i {
    position: absolute;
    top: 8px;
    left: 9px;
}

.noteListContainer {
    height: -webkit-calc(100% - 40px); 
    height:    -moz-calc(100% - 40px); 
    height:      -o-calc(100% - 40px);
}

ul.noteList {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}


.note {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #E1E1E1;
}

.note.active {
    background-color: #EEEDED;
}

.note:hover {
    background-color: #EEEDED;
}

.note .title {
    font-weight: bold;
}

.note .description {
    margin-top: 4px;
    height: 40px;
    overflow:hidden;
    text-overflow:ellipsis;
}

.noteViewer {
    margin-left: 250px;
    padding: 70px 80px 0px;
}

.noteViewer .title {
    font-size: 25px;
    font-weight: bold;
}

.noteViewer .description {
    margin-top: 10px;
    line-height: 24px;
    white-space: pre-wrap;
}

.tag-input-ctn {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    position: relative;
}
.tag-input-ctn i {
    position: absolute;
    left: -24px;
    top: 3px;
}
.tag-input-ctn input {
    display: inline-block;
    float: left;
    height: 24px;
    padding-left: 10px;
    font-size: 12px;
    color: black;
    border: 0px;
    margin: 2px;
}
.tag-input-ctn input:focus {
    outline: 0;
    box-shadow: 0px;
}
.tag-input-ctn .input-tag, .tagContainer .noteTag {
    line-height: 12px;
    font-size: 12px;
    background-color: #80C0C5;
    display: inline-block;
    float: left;
    border-radius: 2px;
    margin: 2px 5px 2px 0px;
    border-radius: 10px;
    color: #fff;
    padding: 3px 4px 3px 6px;
}

.tagContainer {
    margin-top: 40px;
}

.tagContainer .noteTag {
    padding: 5px 8px;
}
.tag-input-ctn .input-tag .delete-tag {
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    padding: 0px 2px;
}
.tag-input-ctn .input-tag .delete-tag:hover {
    background-color: #96b4d2;
}

input, input:focus, textarea    , textarea:focus {
    border: 0;
    outline: 0;
}

.inputContainer input#title {
    width: 100%;
    font-size: 25px;
    font-weight: bold;
}

.inputContainer textarea {
    width: 100%;
    height: 300px;
    margin-top: 30px;
    font-size: 16px;
}

.inputContainer input#title::-webkit-input-placeholder, .inputContainer textarea::-webkit-input-placeholder {
   color: #000;
}

.inputContainer input#title:-moz-placeholder, .inputContainer textarea:-moz-placeholder { /* Firefox 18- */
   color: #000;
}

.inputContainer input#title::-moz-placeholder, .inputContainer textarea::-moz-placeholder {  /* Firefox 19+ */
   color: #000;
}

.inputContainer input#title:-ms-input-placeholder, .inputContainer textarea:-ms-input-placeholder {  
   color: #000;
}

.buttonContainer {
    text-align: left;
    height: 50px;
    padding-top: 10px;
    margin-right: -4px;
}
.buttonContainer button, .addBtn {
    color: #fff;
    text-decoration: none;
    background-color: #7FC479;
    padding: 5px 24px;
    font-size: 12px;
    border-radius: 3px;
    border: none;
    margin: 0 4px;
    cursor: pointer;
    margin-right: 16px;
}

.addBtnContainer {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.addBtn {
    padding: 8px 34px;
    font-size: 14px;
}

.cancelBtn {
    text-decoration: none;
    color: #6F6F6F;
}

.cancelBtn:hover {
    border-bottom: 1px solid #000;
}

.cancelDelete {
    position: absolute;
    right: 144px;
    top: 105px;
    border-bottom: 1px solid #000;
}

.noteControls {
    text-align: right;
}

.noteControls a {
    text-decoration: none;    
    border-bottom: 1px solid #333;
}

.noteControls a.editLink {
    color: #333;
    margin-right: 20px;
}

.noteControls a.deleteLink {
    color: #dd0017;
}

.ng-modal-overlay {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.7;
}
.ng-modal-dialog {
    z-index: 10000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    background-color: #fff;
    width: 440px;
    height: 200px;
    border: 12px solid #383838;
    border-radius: 13px;
}
.ng-modal-dialog-content {
    padding: 10px;
    text-align: left;
}
.ng-modal-dialog-content .title {
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 50px;
}
.ng-modal-dialog-content .deleteNote {
    color: #fff;
    position: absolute;
    right: 200px;
    top: 92px;
    text-decoration: none;
    background-color: #B53B3B;
    padding: 12px 20px;
    font-size: 17px;
    border-radius: 3px;
    letter-spacing: 2px;
}
.ng-modal-close {
    position: absolute;
    top: -11px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 120%;
    display: inline-block;
    font-weight: bold;
    font-size: 32px;
}

.noteViewer, .noteBrowser, .hamburgerContainer {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

@media only screen and (max-width: 767px) {

    .noteViewer {
        margin-left: 0px;
        padding-top: 60px;
    }

    .noteBrowser {
        left: -250px;
    }

    .noteViewer.moveRight {
        margin-left: 250px;
        opacity: 0;
    }

    .noteBrowser.moveRight {
        left: 0px;
    }

    .hamburgerContainer {
        background-color: #7FC479;
        width: 40px;
        height: 40px;
        position: relative;
        /*display: none;*/
    }

    .hamburgerContainer.moveRight {
        margin-left: 250px;        
    }

    .hamburger {
        width: 22px;
        position: absolute;
        left: 10px;
        border-top: 2px solid #fff;
        cursor: pointer;
        z-index: 1;
        top: 13px;
    }
    .hamburger:after {
        content: "";
        display: block;
        border-top: 2px solid #fff;
        margin-top: 4px;
    }
    .hamburger:before {
        content: "";
        display: block;
        border-top: 2px solid #fff;
        margin-top: 4px;
    }
}





















