<div class="ForeverNoteTitle">
	<a ng-href="#/note">ForeverNote</a>
	<a class="addIcon" ng-href="#/add/" ng:class="{true:'hide', false:''}[notes.length===0]">
		<span><i class="icon-plus"></i></span>
	</a>
</div>
<div class="addBtnContainer" ng:class="{true:'', false:'hide'}[notes.length===0]">
	<a href ng-href="/#/add" class="addBtn">Create new note</a>
</div>
<div class="noteListContainer">
	<ul class="noteList">
		<li class="note" ng-repeat="note in notes" ng-click="displayNote(note.id)" ng:class="{true:'active', false:''}[selectedNoteId===note.id]">
			<p class="title">{{ note.title }}</p>
			<p class="description">
				{{ note.description }}
			</p>
		</li>
	</ul>
</div>