<input type="text" name="query" ng-model="query.title" class="inputSearch" ng:class="{true:'hide', false:''}[filtered.length==0]" placeholder="Search for notes" />
<ul class="noteList">
    <li ng-repeat="note in filtered = (notes | filter:query) | offset: currentPage*notesPerPage | limitTo: notesPerPage">
        <div class="noteContainer">
            <p class="title">{{ note.title }}</p>
            <p class="description">{{ note.description }}</p>
            <div class="tagContainer">
                <span class="tag" ng-repeat="tag in note.tags">{{ tag.name }}</span>
            </div>
            <div class="bandContainer">
                <div class="band"></div>
            </div>
            <div class="settingsContainer">
                <a class="icon-edit-alt" ng-href="#/edit/{{note.id}}"></a>
                <a class="icon-trash" ng-href="#/delete/{{note.id}}"></a>
                <button ng-click='toggleModal()'>Open Modal Dialog</button>
            </div>
        </div>
    </li>
</ul>
<div class="pagination" ng:class="{true:'hide', false:''}[filtered.length==0]">
    <ul>
        <li ng-class="prevPageDisabled()">
            <a class="icon-left-open" href ng-click="prevPage()"></a>
        </li>
        <li ng-class="nextPageDisabled()">
            <a class="icon-right-open" href ng-click="nextPage()"></a>
        </li>
    </ul>
</div>
<modal-dialog show='modalShown' width='750px' height='60%'>
    <p>Modal Content Goes here
        <p>
</modal-dialog>
